{% extends 'base.html' %}

{% load static %}

{% block title %}
Index
{% endblock title %}

{% block content %}

<form method='GET'>
<h1>This is index page.</h1>

<p id="result"></p>

<button type="submit" id="submit_in_get">Submit In Get</button>
</form>

<form method='POST'>
{% csrf_token %}
<button type="submit" id="submit_in_post">Submit In Post</button>
</form>

{% endblock content %}

{% block javascripts %}
<script src="{% static 'js/django_ajax.js' %}"></script>
{% endblock javascripts %}
