{% extends "base.html" %}

{% load static %}

{% block content %}
    {% if all_items %}
    <table class="table table-bordered">
        {% for things in all_items %}
            {% if things.completed %}
                <tr class="table-secondary">
                    <td class="striker"><a href="{% url 'todo:edit' %}">{{ things.item }}</a></td>
                    <td class="text-center"><a href="{% url 'todo:uncross' things.id %}">元に戻す</a></td>
                    <td class="text-center"><a href="{% url 'todo:delete things.id ' %}">削除</a></td>
                </tr>
            {% else %}
                <tr>
                    <td><a href="{% url 'todo:edit' things.edit %}">thinigs.item</a></td>
                    <td class="text-center"><a href="{% url 'todo:cross_off' things.id %}">完了</a></td>
                    <td class="text-center"><a href="{% url 'todo:delete' things.id %}">削除</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% endif %}
    <!-- <table class="table table-bordered">
        <tr class="table-secondary">
            <td class="striker">aaaa</td>
            <td class="text-center">aaaa</td>
            <td class="text-center">aaaa</td>
        </tr>
    </table> -->
{% endblock content %}