<!-- templates/animal_cf/index.html -->

{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  animal classification
{% endblock title %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="">
      <h1>{{ message }}</h1>
      {% if image_url %}
        <h2>{{ answer_message }}...{{ estimate_result }}</h2>
        <img src="{{ image_url }}" alt="サムネイル画像" class="img-thumbnail" id="animal_image"></br>
        <a href="{% url 'animal_cf:index' %}">トップへ戻る</a>
      {% else %}
      <div class="">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit" >投稿</button>
          <button class="btn btn-primary" id="animal_classify">
            画像認識スタート
          </button>
        </form>
      </div>
      {% endif %}
    </div>
  {% else %}
    <p>You are not logged in</p>
    <p><a href="{% url 'account_login' %}">ログイン</a></p>
    <a href="{% url 'account_signup' %}">アカウント登録</a>
  {% endif %}
{% endblock content %}

{% block js_content %}
  <!-- 画像のpost -->
  <script src="{% static 'js/image_post.js' %}"></script>
{% endblock js_content %}